
* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 100%;
}

/* Layout */

section {
    text-align: center;
    width: 100%;
    height: 300px;
    padding: 2px !important;
}

#graphbox {
    /*border: 1px solid black;*/
    float: left;
    width: 100%;
    height: 100%;
    /*margin-left: 25px;*/
    display: flex;
}

.graph {
    padding: 10px;
    width: 50%;
}

#graph1 {
    float: left;
}

nav {
    position: sticky;
    top: 0;
    padding: 5px !important;
    height: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
}

nav ul li {
    flex-grow: 1;
    width: 150px;
    margin-left:5px;
    margin-right:5px;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

body {
    line-height : 1.4em;
    letter-spacing: .02em;
    word-spacing: .08em;
}

h1,h2,h3 {
    font-family: "Aleo";
    letter-spacing: .08em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

* {
    font-size: 10px;
}

header {
    text-align: center;
    padding-bottom: 0px;
}

.jumbotron {
    height: 200px;
    padding: 20px !important;
    margin-bottom: 20px !important;
}

.btn {
    padding-left: 20px !important;
    margin-top: -15px;
    max-width: 160px !important;
}

h2 + p {
    text-indent: 20px;
}

a {
    color: #b88;
}

a:visited {
    color: #944;
}

a:hover {
    color: #caa;
    text-decoration: none;
}

a:focus {
    color: #b99;
    text-decoration: none;
    outline: none;
}

a:active {
    color: #ddd;
    background-color: #944;
}

a[href*="http"] {
    background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
    background-size: 10px 10px;
    padding-right: 13px;
}

li {
    line-height : 1.4em;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}
